<h1>Test</h1>

<table style="width:100%">
    <thead>
    <tr>
        <th>RechnungsId</th>
        <th>
            Fälligkeitsdatum
            <!-- button name="sort" id="sortStartDueDate" (click)="sortStartDueDateClick()">
                Sortierung {{sortStartDueDate.getSortingOrderName()}}
            </button -->
        </th>
        <th>
            Rechnungsdatum
            <!-- button name="sort" id="sortStartDate" (click)="sortStartDateClick()">
                Sortierung {{sortStartDate.getSortingOrderName()}}
            </button -->

        </th>
        <th>Rechnungsnr</th>
        <th>
            Empfänger
            <!-- button name="sort" id="sortCompanyName" (click)="sortCompanyNameClick()">
                Sortierung {{sortCompanyName.getSortingOrderName()}}
            </button -->

        </th>
        <th>Status (Entwurf, bezahlt, ...)</th>
        <th>Gesamtpreis</th>
        <th>Anzahl der Mahnungen</th>
        <!--th>Rechnungzeitraum</th-->
        <th>Ändern</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoice of invoices">
        <td><!-- {{invoice.getID()}} --> place for invoiceId</td>
        <td>{{invoice.invoiceDueDate | date:'yyyy-MM-dd'}}</td>
        <td>{{invoice.invoiceDate | date:'yyyy-MM-dd'}}</td>
        <td>{{invoice.invoiceNumber}}</td>
        <!-- td>{{invoice.companyName()}}</td -->
        <td>{{invoice.getCustomerName()}}</td>
        <td>{{invoice.invoiceState}}</td>
        <td>{{invoice.wholeCost}}{{invoice.currency}}</td>
        <td>{{invoice.countReminders}}</td>
        <!--td>{{invoice.timeSpan}}</td-->
        <td>
            <!-- button type="button">Rechnung bearbeiten</button -->

            <a routerLink="/invoice-detail/{{invoice.getID()}}">Rechnung bearbeiten</a>
            <!-- link to the details of a dedicated invoice -->

        </td>
    </tr>
    <!-- ///////////////////////////// -->
    </tbody>
</table>

<button (click)="newInvoiceBtn()">Neuer Rechnungsentwurf Btn</button>
<button>Speichern</button>
<button>Zurück</button>

<a routerLink="/customer-list">Kunden bearbeiten</a>
