<div class="customer-list">

    <h1> Kundenübersicht </h1>

    <label><input type="checkbox" name="showArchived" [checked]="showArchived"
                  (change)="toggleShowArchived()"> Archivierte Anzeigen</label>
    <br>
    {{showArchived ? 'Nur Archivierte anzeigen!' : 'Nur Nicht-Archivierte anzeigen!'}}

    <br><br><br><br><br><br>


    <div class="mobile-style">
        <table style="width:100%">
            <thead>
            <tr>
                <th>Kundennummer</th>
                <th>Kundenname</th>
                <th>Land</th>
                <th>Postleitzahl</th>
                <th>Stadt</th>
                <th>Adresse 1</th>
                <th>Adresse 2</th>
                <th>Adresse 3</th>
                <th>Umsatzsteuernummer</th>
                <th>erstellt am</th>
                <th>Archiviert???</th>
                <th>Ändern</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers">
                <td *ngIf="toShow(customer.archived)">{{customer.customerNumber}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.customerName}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.country}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.postalCode}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.city}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.addressLine1}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.addressLine2}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.addressLine3}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.customerSalesTaxNumber}}</td>
                <td *ngIf="toShow(customer.archived)">{{customer.creationTime | date:'yyyy-MM-dd'}}</td>
                <td *ngIf="toShow(customer.archived)">Archiv: {{customer.archived}}; Show: {{toShow(customer.archived)}}</td>
                <td *ngIf="toShow(customer.archived)">
                    <a routerLink="/customer-detail/{{customer.getCustomerId()}}/false">Kunden bearbeiten</a>
                    <button (click)="deleteCustomer(customer.getCustomerId())">löschen</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a routerLink="/invoice-list">Rechnungsübersicht</a>
    <button (click)="newCustomereBtn()">Neuer Kunde</button>
</div>
